@import '../../styles/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

.hero {
  font-family: 'Raleway', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #FFFCE8;
  text-align: center;
  position: relative;
}

.heroSvg {
  margin-top: 10%;
}

/* Cercle avec les textes */
.circleText {
  color: #9E89B6;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1.5px solid #7C6597;
  border-radius: 50px;
  width: 690px;
  height: 25px;
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
  padding: 8px 20px;
  text-align: center;
  position: relative;
  margin-top: 5%;
}

.dot {
  font-size: 60px;
  margin: 0 10px;
  color: #7C6597;
}

/* Conteneur pour le bouton et le lien */
.bottomContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: 20px;
}

/* Nouveau bouton avec SVG */
.button {
  width: 40px;
  height: 64px;
  padding: 2px;
  border: 1px solid #7C6597;
  border-radius: 50px;
  background: #9e89b652;
  transition: all 0.3s ease-in-out;
  transform: rotate(180deg);
  cursor: none;
}

.svg {
  width: 20px;
  height: 55px;
  transform: rotate(180deg);
}

.button:focus {
  height: 0px;
  width: 0px;
  padding: 0px;
  border: 0px;
}

.button:focus > .svg {
  display: none;
  height: 0px;
}

/* Style pour le lien avec hover */
.menuLink {
  color: #FF7E33;
  line-height: 2;
  position: relative;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 400;
  cursor: none;
}

.menuLink::before {
  content: '';
  width: 100%;
  height: 1px;
  border-radius: 2px;
  background-color: #FF7E33;
  position: absolute;
  bottom: -.1rem;
  left: 0;
  transition: transform .4s, opacity .4s;
  opacity: 0;
}

.menuLink:hover::before {
  transform: translateY(-.25rem);
  opacity: 1;
}

/* Media Queries pour la responsivité */
/* Pour les écrans de moins de 768px (tablettes et mobiles) */
@media (max-width: 768px) {
  .hero {
    height: auto;
    padding: 20px;
  }

  .heroSvg {
    width: 100%;
    margin-top: 45%;
  }

  .circleText {
    width: 80%;
    font-size: 24px;
    padding: 8px 15px;
  }

  .dot {
    font-size: 50px;
  }

  .bottomContainer {
    margin-bottom: 10px;
  }

  .button {
    width: 35px;
    height: 55px;
  }

  .svg {
    width: 18px;
    height: 45px;
  }

  .menuLink {
    display: none;
  }
}

/* Pour les petits écrans de moins de 480px (mobiles très petits) */
@media (max-width: 480px) {
  .heroSvg {
    width: 100%;
    margin-top: 90%;
  }

  .circleText {
    width: 100%;
    font-size: 16px;
    padding: 8px 10px;
  }

  .dot {
    font-size: 40px;
  }

  .button {
    width: 30px;
    height: 50px;
  }

  .svg {
    width: 15px;
    height: 40px;
  }

  .menuLink {
    display: none;
  }
}




















