@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
@import '../../styles/variables.scss';

.navbar {
  padding: 1%;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  font-family: "Raleway", sans-serif;
  transition: opacity 0.5s ease, transform 0.5s ease;
  background-color: transparent;

  &.background {
    background-color: $nav-bg-color;
    left: 0;
    right: 0;
  }

  &.hidden {
    opacity: 0;
    transform: translateY(-100%);
  }

  ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;

    li {
      margin-right: 4rem;

      a {
        color: #FF7E33;
        text-decoration: none;
        padding: 30px;
        font-size: 22px;
        font-weight: medium;
        cursor: pointer;
        transition: transform 0.3s ease, color 0.3s ease;
      }

      &:hover {
        transform: scale(1.1);
      }

      & a.active {
        color: #9E89B6;
        font-weight: 600;
      }
    }

    .logo {
      img {
        max-height: 35px;
        width: 55px;
        height: auto;
        margin-left: 2rem;
      }
    }
  }
}



.languageToggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: 2px solid #9E89B6;
  border-radius: 50%;
  padding: 10px;
  font-size: 18px;
  cursor: none;
  font-weight: bold;
  color: #FF7E33;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }
}


/* Responsive */
@media (max-width: 768px) {
  .navbar {
    padding: 0.5rem;
    background-color: #dfefb8;

    ul {
      justify-content: center;
      gap: 40px;
    }
  
    ul li {
      margin-right: 0;
    }
  
    ul li a {
      font-size: 18px;
      padding: 15px;
    }
  }


  .logo img {
    max-height: 30px;
    width: 45px;
    margin-left: 0;
  }

  .languageToggle {
    width: 40px;
    height: 40px;
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .navbar {
    padding: 0.3rem;

    ul {
      justify-content: center;
      gap: 5px;
      margin-left: -4%;
    }
  
    ul li {
      margin: 0;
    }
  
    ul li a {
      font-size: 14px;
      padding: 8px;
    }
  }

  .logo img {
    max-height: 25px;
    width: 40px;
  }

  .languageToggle {
    width: 35px;
    height: 35px;
    font-size: 14px;
  }
}






